{% extends 'catalog/index.html' %}

<meta charset="UTF-8">
{% block title %}
<title>Ficha Película</title>
{% endblock %}

{% block content %}

{% for peli in pelicula %}
  <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative bg-light h-auto">
    <div class="col p-4 d-flex flex-column position-static">
      <h3 class="mb-0">{{ peli.nombre_pel }}</h3><br>
        <div class="mb-1 text-muted">
        <h6>{{ peli.director_pel }}</h6>
        </div>
      <h6>{% for genero in peli.dame_genero_pel %}{{ genero }}{% endfor %}</h6>
      <div class="mb-1 text-muted">
        <h6>{{ peli.estreno_pel }}</h6>
        <h6>{{ peli.premios_pel }}</h6><br>
        <p class="mb-auto">{{ peli.resumen_pel }}</p>
      </div>
      <div>

      </div>
    </div>
    <div class="col-auto d-none d-lg-block">
      {{ peli.foto_pel_grande }}<br>
      <video width="320" height="240" controls><source src="{{ peli.trailer }}" type="video/mp4"></video>
    </div>
  </div>
{% endfor %}

{% endblock %}